* {
    margin:0;
    padding:0;
}
html {
    background:transparent;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size:14px;
    color:#444;
}

.window-main {
    width:100%;
    height:100%;
    background-image:url('image/toumin.png');
    background-repeat:expand stretch-middle;
    background-position:80px 80px 80px 80px;
    }


h1, h2, h3, h4, h5, h6, ul, li {list-style-type: none;}
a { color:rgb(79,168,278); }
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

#divAll {
	width:*;
	height:100%%;
	position: absolute;
	left:40px;
    right:40px;
    top:40px;
    bottom:40px;
}
#divNot {
	width:*;
	height:*;
	background: #fff; 
}
#divHead {
	width:100%;
	height:30px;
	background:	#006699;

}
#divFoot {
	width:100%;
	height:24px;
	background: #ddd;

}
#divMain {
	width:100%%;
	height:100%%;
	position: absolute;
	bottom:0;
	left:0;
	top:30px;
	right:0;
}
#lside {

}
#rside {

}

.nav { width:100%; height:100%; flow:horizontal; }
.nav-btns { width:72px; height:100%%; background: rgb(28,32,42); overflow:hidden;}
.nav-btnx { width:*; height:100%%; border-bottom: 1px solid #ccc;}
.nav-area {  height:100%%; background:#fff; display:block; }
.nav-page[open=true] { display:block; width:*;  }
.nav-page { display:none;   height:*;  font-size:14px;  position: absolute; top:0; left:72px;  right:0; bottom:0; overflow: auto }
.nav-tab {
        text-align:center;
        width:72px;
        height:72px;
        color:rgb(170,170,170);
        border-bottom:1px solid rgb(40,50,60);
        vertical-align:middle;
        background: rgb(28,32,42);
        font-size:12pt;

        /* 超出部分隐藏, 并显示省略号 */
        display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
        active-on!:   				parent = self.parent(),
                    				parent.$1(.nav-tab:checked):checked = false ,
                                    self:checked = true ,
                                    page_area = parent.next() ,
                                    open_page = page_area.$1(li.nav-page[open=true]) , 
                                    open_page.open = false , 
                                    open_page = page_area.child(self:index) ,
                                    open_page.open = true ;

       assigned!:   		parent = self.parent() ,
                            check_tab = parent.$1(.nav-tab[check]),
                            check_tab:checked = true ,
                    		page_area = $1(ul.nav_area) ,
                            page_area.child(check_tab:index).open = true;
    }
.nav-tab:checked {  background:rgb(2,135,254); color:#fff; }

/* --------------------------- 标签页 -------------------------*/
.tab_box { width:100%%; height:100%%;  background:#fff; }
    .tab_btns { width:100%%; flow:horizontal; horizontal-align:left;}
    .tab_btnx { width:*; height:100%%; border-bottom: 1px solid #ccc;}
    .page { display:none; height:100%%; }
    .page[open=true] { display:block; }
    .page_area {  height:100%%; margin-top:10px;}
    .divPage { height:26px; width:100%%; margin:0 8px; flow:vertical;}

    .tab {
    	display:inline-block;
        //width: 60px;
		padding:0 20px;
        text-align:center;
        height:30px;
        font-size:16;
        color:rgb(182,182,182);
        border-bottom:1px solid rgb(229,229,229);
        vertical-align:middle;
        background:rgb(255,255,255);
        /* 超出部分隐藏, 并显示省略号 */
        display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
        active-on!:   parent = self.parent(),
                    parent.$1(.tab:checked):checked = false ,
                                    self:checked = true ,
                                    page_area = parent.next() ,
                                    open_page = page_area.$1(div.page[open=true]) , 
                                    open_page.open = false , 
                                    open_page = page_area.child(self:index) ,
                                    open_page.open = true ;

       assigned!:   self::width = self.text-width(self:value) + 30px,
       			   parent = self.parent() ,
                            check_tab = parent.$1(.tab[check]),
                            check_tab:checked = true ,
                    page_area = $1(div.page_area) ,
                                    page_area.child(check_tab:index).open = true ;
    }
    .tab:checked { border-bottom:3px solid rgb(45,120,190); color:rgb(45,120,190); font-size:18px; font-weight: 400}
/* --------------------------- 控制按钮 ----------------------- */
.control-btn {
        flow:horizontal;
        float:right;
    }
    .control-btn div {
        display:block;
        width:30px;
        height:30px;
        border:0;
        margin:0;
        padding:0;
        transition:blend;
        behavior:button;
    }
    .control-btn .skin {
        background:url("image/btn-control/btn_skin_normal.png") no-repeat;
        click!:winskin();
    }
    .control-btn .skin:hover {
        background:url("image/btn-control/btn_skin_highlight.png") no-repeat;
    }
    .control-btn .skin:active {
        background:url("image/btn-control/btn_skin_down.png") no-repeat;
    }
    .control-btn .min {
        background:url("image/btn-control/btn_mini_normal.png") no-repeat;
        click!:mini();
    }
    .control-btn .min:hover {
        background:url("image/btn-control/btn_mini_highlight.png") no-repeat;
    }
    .control-btn .min:active {
        background:url("image/btn-control/btn_mini_down.png") no-repeat;
    }
    .control-btn .max {
        background:url("image/btn-control/btn_max_normal.png") no-repeat;
        click!:self::display="none", self.next()::display="block", winmax();
    }
    .control-btn .max:hover {
        background:url("image/btn-control/btn_max_highlight.png") no-repeat;
    }
    .control-btn .max:active {
        background:url("image/btn-control/btn_max_down.png") no-repeat;
    }
    .control-btn .close {
        background:url("image/btn-control/btn_close_normal.png") no-repeat;
        click!:close();
    }
    .control-btn .close:hover {
        background:url("image/btn-control/btn_close_highlight.png") no-repeat;
    }
    .control-btn .close:active {
        background:url("image/btn-control/btn_close_down.png") no-repeat;
    }
    .control-btn .restore {
        background:url("image/btn-control/btn_restore_normal.png") no-repeat;
        click!:self::display="none", self.prev()::display="block", winmax();
    }
    .control-btn .restore:hover {
        background:url("image/btn-control/btn_restore_highlight.png") no-repeat;
    }
    .control-btn .restore:active {
        background:url("image/btn-control/btn_restore_down.png") no-repeat;
    }


/* -------------------- 一般类 ---------------- */
#window-title { float:left; width:*; height:30px; color: rgb(220,220,220); vertical-align: middle; padding: 0 5px; }
.main {
	clear:both;
	width:100%%;
	height:100%%;
	margin:16px;
}
/* -------------------- button ---------------- */
.btn {
	font-size:14px;
	font-weight: 400;
	height:28;
	line-height: 24px;
	padding:0 10px;
	vertical-align: middle;
	text-align: center;
	border-radius: 3px;
	background: rgb(2,135,255);
	color:#fff;
	display:inline-block;
	white-space:nowrap;
	user-select:none;
	cursor:pointer;
	border:0;
}
.btn:hover {
    color:#FFCC99;
}
.btn-success { background-color: #5cb85c; }
.btn-info { background-color:#5bc0de; }
.btn-warning { background-color:#f0ad4e; }
.btn-danger { background-color: #d9534f; }
.btn-block { width:100%%; height:32px; font-size:16px; line-height: 30px; display: block; }
.btn-lg { padding: 10px 16px; font-size: 18px; border-radius: 5px; }
/* ------------------ 表格 ----------------- */
	.table {
        width:100%%;
		height:*;
        min-height: 72px;
        margin:8px 8px 8px 8px;
        padding:1px;
    }
    .table table>tbody { overflow-y:auto; height:*; }
    .table table {
    	padding:0;
        width:100%%;
        height:100%;
        behavior:grid column-resizer;
        flow:table-fixed;
        border-collapse:collapse;
    }
    .table table td { overflow:hidden }
    .table table th {
        background:#f0f0f0;
        border-right:1px solid #dcdcdc;
        border-left:1px solid white;
        border-bottom:1px solid #d2d2d2;
        padding:2px 7px;
        font-weight:normal;
        text-align:left;
    }
    .table table th:nth-child(1) { border-left:0; }
    .table table th:nth-last-child(1) { border-right:0; }
    .table tr:current td, .table tr:current:hover td { background:#f0f0f0; }
    .table tr:hover td { background:#fafafa; }
    .table table td {
        height:32px;
        border-bottom:1px dashed #ddd;
        line-height:32px;
        padding:0 8px;
        /* 超出部分隐藏, 并显示省略号 */
        display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
    }
    .table .conbtn {
    	background: 0;
    	background-color: #fff;
    	color:#333;
    	border:1px solid rgb(2,135,254);
    	padding: 0 8px;
    	font-size:13px;
    	line-height: 20px;
    	vertical-align: middle;
    	border-radius: 3px;
    }
    .table .conbtn:hover {
    	background-color:rgb(2,135,254);
    	color:#fff;
    	transition:none; 
    }
/*------------------- 标签 ------------------- */
.label {
	text-align: center;
	vertical-align: middle;
	padding: 1px  8px;
	color:#fff;
	font-size:14px;
	background-color: #999;
}
.label-info { background-color:#5bc0de; }
.label-success { background-color:#5cb85c; }
.label-warning { background-color:#f0ad4e; }
.label-danger { background-color:#d9534f; }

/* 边框 */
.border { border:1px solid #777; }
.border-info { border-color:#5bc0de  }
.border-success { border-color:#5cb85c  }
.border-warning { border-color:#f0ad4e  }
.border-danger { border-color:#d9534f  }

/* ----------------- 各种控件 ------------------------*/
widget[type=text], input[type='text'], input[type='password'], widget[type=password], input[type='masked'] {
	width:180px;
	height:28px;
	padding: 0 5px;
	border:1px solid #ddd;
	font-size:13px;
	border-radius: 3px;
	color:#333;
}
widget[type=text]:hover, input[type='text']:hover, input[type='password']:hover, widget[type=password]:hover, input[type='masked']:hover {
	border-color:#5bc0de;
}
winget[class='block'] {
	width:100%%;
}
textarea {
	border:1px solid #ddd;
	padding: 1px;
	font-size:14px;
	color:#333;
	border-radius: 3px;
}
/* 选择框 */
button[type='checkbox'],[type='radio'] {
	font-size:14px;
	padding-left: 20px;
}

/* 月历/日期框 */
widget[type='calendar'] {
	min-width: 200px;
	font-size:14px;
}
widget[type='date'], [type='time'] {
	height:28px;
	min-width: 100px;
	padding-left:5px; 
}
widget[type='currency'], [type='decimal'] {
	height:28px;
	padding: 0 5px;
	border:1px solid #ddd;
	font-size:13px;
	border-radius: 3px;
	color:#333;
}
/* 列表框 */
widget[type='select'] {
	min-width: 80px;
	border:1px solid #ddd;
	font-size:13px;
	border-radius: 3px;
	color:#333;
}
select {
	height:28px;
	min-width: 80px;
	padding: 0 0 0 5px;
	border:1px solid #ddd;
	font-size:13px;
	border-radius: 3px;
	color:#333;
}
option {
	height:28px;
	font-size:13px;
	vertical-align: middle;
	padding-left: 5px; 
}
.form-group {
	flow:horizontal;
	width:100%%;
	display:block;
	margin-bottom:10px;

}
.form-group .input-label {
	display:block;
	width:80px;
	height:*;
	padding-right: 8px;
	text-align: right;
	vertical-align: middle;
}
.form-group .input-control {
	width:*;
	height:28px;
}
.form-group .input-lg {
	height: 42px;
    padding: 0 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.form-horizontal {
	display:block;
	flow:horizontal;
	horizontal-align:left;
	width:*;
}
.form-vertical {
	display:block;
	flow:vertical;
	width:*;
}
.width-auto { width:*; }
.height-auto { height:*; }
.inline { display:inline; width:0;}
.pull-left { horizontal-align:left; }
.pull-right { horizontal-align:right; }
.pull-center { horizontal-align:center; }
/* ----------------- 排版 ----------------------- */
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }
small { font-size: 72%; font-weight: 400; line-height: 1; color: #777; }

.text-help { color:#737373; }
.text-default { color:#000; }
.text-info { color:#31708f; }
.text-success { color:#3c763d; }
.text-warning { color:#8a6d3b; }
.text-danger { color:#a94442; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right }
.bg-info { background:#d9edf7; }
.bg-success { background:#dff0d8; }
.bg-warning { background:#fcf8e3; }
.bg-danger { background:#f2dede; }
.center-block { display: block; margin-right: auto; margin-left: auto; }
.show { display:block; }
.hidden { display:none; }
.border-success { border-color:#3c763d; }
.border-warning { border-color:#8a6d3b; }
.border-danger { border-color:#a94442; }

.new-list li {
	flow:horizontal;
	height:24px;
	line-height: 24px;
	border-bottom:1px dashed #ddd;
}
/* ----------------- 面板 ----------------------- */
.panel {
	width:100%%;
	margin-bottom: 8px;
	border:1px solid #ddd;
	border-radius: 3px;
	//为子元素圆角
	assigned!:
				self.child(1)::border-top-left-radius = 3px,
				self.child(1)::border-top-right-radius = 3px,
				self.child(self.children())::border-bottom-left-radius = 3px,
				self.child(self.children())::border-bottom-right-radius = 3px;
}
.panel-title {
	width:100%%;
	height:28px;
	vertical-align: middle;
	padding: 0 8px;
	font-size:16px;
	font-weight: 600;
	color:#333;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
.panel-body {
	background: #fff;
	margin:8px;
	width:100%%;
}

/* -------------------- 警告 -------------------- */
.alert {
	width:100%%;
	padding: 8px;
	font-size:14px;
	color:#fff;
	background: #666;
	margin-bottom: 8px;
	clear:both;
	border-radius: 3px;
}
.alert b {
	font-weight: 900;
	font-size:16px;
	margin-right:8px;
}
.alert a[class="close"] {
	color:#FFF;
	display:block;
	margin-left: *;
	margin-top:-6px;
	margin-right: 3px;
	font-size:24px;
	font-weight:700;
	text-align: right;
	float:right;
	click!: parent = self.parent(),
			parent.parent()::display = "none";
}
.alert-success { background-color: #5cb85c; }
.alert-warning { background-color: #f0ad4e; }
.alert-danger { background-color: #d9534f; }
.alert-info { background-color:#5bc0de; }

/* -------------- 仿QQ列表 -------------------- */
.qqlist {
	width:340px;
	height:420px;
	background: #99CCCC;
	overflow-y:scroll;overflow-y:auto; vertical-scrollbar:small-v-scrollbar;
}
.qqlist .qqlist-head{
	display:block;
	width:100%;
	height:30px;
	flow:horizontal;
	horizontal-align:left;
	behavior:button;
	click!: obj = self.next(),
			obj::display = (obj::display == "none" ? "block" # "none"),
			self.$1(i)::background = (obj::display == "none" ? url(./image/state_0.png) # url(./image/state_1.png));

	hover-on!:self.$1(.menu)::display = "block";
	hover-off!:self.$1(.menu)::display = "none";
}
.qqlist-head .title {
	width:calc(100% - 50px);
	height:30px;
	font-size:13px;
	color:#333;
	vertical-align: middle;
	text-align: left;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;

}
.qqlist-head .menu {
	display:none;
	width:50px;
	height:24px;
	margin-top: 3px;
}
.qqlist-head i {
	background: url(./image/state_0.png); 
	background-repeat:no-repeat; 
	display:block; 
	width:12px; 
	height:12px;
	line-height: 12px;
	margin:0 5px 0 8px;
}
.qqlist-head:hover {
	background-color:rgba(250,250,250,0.7);
}

.qqlist .conbtn {
	width:20px;
	height:20px;
	line-height: 20px;
	border:1px solid rgb(2,135,255);
	background: 0;
	transition: none;
	font-size:11px;
	border-radius: 20px;
}
.qqlist .conbtn:hover {
	color:#fff;
	background: rgb(2,135,255);
}

/* 项目区域 */
.qqlist .qqlist-body { display:none; }
.qqlist-body .item {
	width:100%;
	height:50px;
	hover-on!:self.$1(.item-menu)::display = "block";
	hover-off!:self.$1(.item-menu)::display = "none";
	flow:horizontal;
	horizontal-align:left;
}
.qqlist-body .item:hover { 
	background:rgba(251,239,197,0.7);
}
.qqlist-body .item .item-main {
	width:calc(100% - 40px);
	height:42px;
	font-size:13px;
	margin:4px 0 0 8px;
	flow:horizontal;
	horizontal-align:left; 
}
.qqlist-body .item .item-main .title {
	display:block;
	width:calc(100% - 50px);
	height:38px;
	margin-top: 2px;
	font-size:13px;
	text-align: left;
}
.qqlist-body .item .item-main img {
	width:42px;
	height:42px;
	border-radius: 42px;
}
.qqlist-body .item .item-main p { display:block; color:#777; width:100%; font-size:12px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.qqlist-body .item .item-menu {
	display:none;
	width:32px;
	height:50px;
	line-height: 48px;
	text-align: center;
	background:rgba(250,226,157,0.8);
}


@set small-v-scrollbar
{
 .prev { 
    background-image:url(./image/scrollbar/prev.png);
    background-repeat:no-repeat; 
    vertical-align: middle;
	background-position:50% 50%;
 }

 .next { 
 	background-image:url(./image/scrollbar/next.png);
    background-repeat:no-repeat; 
    vertical-align: middle;
	background-position:50% 50%;
 }
 .base,.next-page,.prev-page { 
 	//background: red;
    //background-image:url( image/23.png ); 
    //background-position:top bottom; 
    //background-repeat:expand; 
 }
 .slider{ 
 	background-image:url( image/scrollbar/slider.png ); 
    background-position:4px 0 4px 0; 
    background-repeat:expand; 
    background-color: #d7d1cd;
    min-height:32px;
    border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
 }
 .slider:hover {
 	background-image:url( image/scrollbar/slider_hover.png ); 
 	background-color: rgb(129,125,123);
 }
 .slider:active {
 	background-image:url( image/scrollbar/slider_active.png );

 	background-color: #aca9a4;
 }
 .next:disabled, .slider:disabled, .prev:disabled { 
    height:0; border:none; foreground-image:none; 
 }
 .base:disabled {
    background-image:url( img/scrollbar/sb-scroll-base.png ); 
    background-repeat:repeat; 
 }
 .next:hover,  .prev:hover { 
    border:1px solid rgb(120,117,115);
 }

 .base { 
    width: 10px; 
 } 

}﻿
